@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-charcoal/50 backdrop-blur-xl border border-white/10;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cobalt to-violet;
  }
}
