@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gallery text-gray-900 font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-paper/70 backdrop-blur-xl border border-cool-grey shadow-sm;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-indigo to-indigo-400;
  }
}